:root{
  --primary:#ddd;
  --dark:#333;
  --light:#fff;
  --shadow:0 1px 5px rgba(104, 104, 104, 0.8);
}

html{
  box-sizing: border-box;
  color:var(--dark);
}

body{
  background: #ccc;
  font-size: 16px;
  margin: 10px ;
  line-height: 1.4;
}

h1,h2,h3,h4,h5,h6{
  font-family:Poppins;
}

p{
  font-family:Roboto;
}

.btn{
  background: var(--dark);
  color: var(--light);
  padding: 0.6rem 1.6rem;
  font-family:Poppins;
  text-decoration: none;
  border: 0;
}

img{
  max-width: 100%;
}

.navbar-default{
  background:#fff;
  border:0;
  font-family:Poppins;
}

.navbar-brand{
  padding-bottom: 15px;

}

wrapper{
  display: grid;
  grid-gap: 20px;
}

 .top-container{
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
  'showcase showcase sidebox-a'
  'showcase showcase sidebox-b'

}

.showcase{
  margin-top: 20px;
  grid-area: showcase;
  min-height: 400px;
  background-image: url(image/theater.jpg);
  background-size: cover;
  background-position: center;
  padding: 20px;
  box-shadow: var(--shadow);

}
.showcase h4{
  color: var(--light);
  text-align: left;
  margin-top: 0;
  font-size: 1.5rem;
}

.sidebox{
  margin-top: 20px;
  background: var(--primary);
  display: grid;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow);
  padding: 20px;
}

.sidebox-a{
  grid-area: sidebox-a;
}

.sidebox-b{
  grid-area: sidebox-b;
}

.btn-1{
  padding:10px;
  text-align: center;
}

.boxes{
  margin-top: 20px;
  display: block;
  grid-gap: 20px;
}

.box{
  background: var(--light)!important;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
}

.product-slider {
      width: auto!important;
			height: auto!important;
}
.product-slider img{
			width:auto!important;
}

footer{
  padding: 20px;
  margin-top: 20px;
  color:#000;
  text-align: center;
  background:#fff;
}

footer p{
  font-family: Arial, Helvetica, sans-serif;
}
footer img{
  margin-bottom: 30px;
}

@media(max-width:700px){
  body{
    padding-top: 5rem;
  }
  .top-container{
    grid-template-areas:
    'showcase showcase'
    'sidebox-a sidebox-b'
  }

  .showcase h1{
    font-size: 2.5rem;
  }

  .btn{
    display: block;
    text-align: center;

}

  @media(max-width:500px){
    .top-container{
      grid-template-areas:
      'showcase'
      'sidebox-a'
      'sidebox-b';
    }

  }

}
